/* Sale Products Section */
.sale-products {
     margin-top: 70px;
    padding: 60px 20px;
    background: #eae2d6; 
  }
  
  .sale-products h2 {
    margin-top: 70px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #6b5240; 
  }
  
  .sale-products .product-grid {

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .sale-products .product-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    transition: transform 0.7s ease;
    box-shadow: 10px 10px 50px rgba(107, 82, 64, 0.1); /* ظل بني فاتح */
  }
  
  .sale-products .product-card:hover {
    transform: scale(1.05);
  }
  
  .sale-products .product-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .sale-products .product-card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #6b5240; /* لون بني داكن للنص */
  }
  
  .sale-products .product-card p {
    font-size: 16px;
    color: #8b4513; /* لون بني متوسط للسعر */
  }
  
  .sale-products .product-card p del {
    color: #999; /* لون رمادي للسعر القديم */
  }
  
  .sale-products .product-card button {
    background: #6b5240; /* لون بني داكن للزر */
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .sale-products .product-card button:hover {
    background: #8b4513; /* لون بني متوسط عند التحويم */
  }